<app-treasure-path-component></app-treasure-path-component>

<div class="container mt-5">
  <ul class="row list-unstyled g-4">
    @for (treasure of treasureHunts(); track treasure.id) {
      <li class="col-sm-6 col-md-4 mb-4">
        <app-treasure-card-component
          [treasure]="treasure"
          (clueDropped)="updateTreasure($event)"
          (treasureDeleted)="deleteTreasure($event)">
        </app-treasure-card-component>
      </li>
    }
    @empty {
      <li class="col-12">
        <div class="alert alert-warning text-center">Nessuna caccia al tesoro disponibile.</div>
      </li>
    }
    <li class="col-sm-6 col-md-4 mb-4">
      <app-add-treasure-card
        (treasureCreated)="addTreasure($event)"
      ></app-add-treasure-card>
    </li>
  </ul>
</div>
