:host {
  display: block;
  background-color: #e1922b;
  padding: 2rem;
  min-height: 100vh;
}

ul.treasure-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
